<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

    <h3><%= title %></h3>

    <% include templates/header.ejs %>

    <p>Hi my name is <%= name %></p>

</body>
</html>
